.imageSlider {
 aspect-ratio: 16 / 9;
 background-color: yellow; // Just for visibility
 resize: both;
 overflow-x: scroll;
 width: 50vw;
 transition: all 0.5s;
 &:hover {
  width: 52vw;
 }
 &__list {
  background-color: orange;
  height: 100%;
  display: flex;
  transition: all 0.5s;
  &__item {
   background-color: lightblue;
   width: 100%;
   height: 100%;
   &:nth-child(3n + 1) {
    background-color: lightgreen;
   }
   &:nth-child(3n + 2) {
    background-color: lightcoral;
   }
   &:nth-child(3n + 3) {
    background-color: lightgoldenrodyellow;
   }
  }
 }
}
